#detail {
  position: fixed;
  width: 100vw;
  height: 100vh;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 3px 0 #dddddd;
    p {
      width: 70vw;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      span {
        color: #e86261;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .iconBack {
      position: absolute;
      left: 10px;
      z-index: 999;
      display: inline-block;
      width: 36px;
      height: 36px;
      background: url(../../assets/img/back.png) center no-repeat;
      background-size: cover;
    }
  }
  .musicBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(35px);
    -webkit-filter: blur(35px);
  }
  .desc {
    padding: 10px;
    margin-top: 1rem;
    p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
    span {
      font-size: 12px;
      text-indent: 2em;
    }
  }
  .pic {
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    margin: 1rem auto;
    background-size: 110% !important;
    border: 10px rgba(255, 255, 255, 0.5) solid;
  }
  .goMove {
    animation: move 20s infinite linear;
  }
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
